[Unit]
Description=hides the cursor

[Service]
Type=simple
ExecStart=/usr/bin/unclutter -idle 0
Environment=DISPLAY=:0
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
