[Unit]
Description=keeps the screen from blanking

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/xset s off
ExecStart=/usr/bin/xset -dpms
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
