[Unit]
Description=MicroMoody animation daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/3rgbfade
User=nobody

[Install]
WantedBy=multi-user.target
